@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
}
.wrapper {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: normal;
  	letter-spacing: normal;
}
.header {
	padding: 80px;
}
.logo {
	width: 100px;
	height: 60px;
	margin: 0 auto 80px;
	display: block;
}
.logo svg {
	width: 100px;
	height: 60px;
}
.nav {
	display: flex;
	justify-content: center;
}
.nav a {
	margin: 0 40px;
	font-size: 20px;
	color: #000;
	text-decoration: none;
}
.section {
	width: 100%;
	max-width: 1024px;
	margin: 59px auto;
}
.about {
	font-size: 28px;
	text-align: center;
	margin: 80px auto;
}
.btn-menu {
	background: #fff;
	border: 0;
}
.btn-close {
	background: #ccc;
	border: 0;
}
.btn-menu,
.btn-close,
.header .contact-form {
	display: none;
}
.title {
	font-size: 40px;
	text-align: center;
	padding: 16px;
	border-bottom: 1px solid;
	border-top: 1px solid;
	margin-bottom: 47px;
}
.info {
	display: flex;
  	justify-content: space-between;
  	flex-wrap: wrap;
}
.box {
	display: flex;
	background: #000;
	color: #fff;
	font-size: 18px;
	padding: 50px;
	flex: 0 1 500px;
  	/*margin: 28px 0 0; нужен, если будет больше боксов*/
  	align-items: center;
}
.btn-send {
	flex: 0 0 200px;
	height: 60px;
	background-color: #000;
	border-color: #000;
	color: #fff;
	font-size: 28px;
	text-transform: uppercase;
	border-radius: 8px;
}
.bigger {
	font-size: 48px;
}
.textarea {
	border-style: none;
	outline: none;
	resize: none;
	font-size: 18px; 
	flex-grow: 1;
	flex-shrink: 0;
}
.contact-form {
	display: flex;
	justify-content: space-between;
	padding: 30px;
	border: 1px solid;
	align-items: center;
}
.slick-dots {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
.slick-dots button {
	display: block;
	width: 20px;
 	height: 20px;
  	margin: 0 5px;
 	border: solid 1px #000000;
 	font-size: 0;
 	background: #fff;
 	border-radius: 50%;
 	padding: 0;
}
.slick-dots .slick-active button {
	background: #000;
}
.slider {
	max-width: 1380px;
	margin: 0 auto;
}
.slick-slide img {
	margin: 0 auto;
}
/* tablet */

@media only screen

and (min-width: 0px)

and (max-width: 1024px) {
	.wrapper {
		padding: 48px;
	}
	.header {
		padding: 0 0 48px 0;
}
	.logo svg {
		width: 80px;
		height: 48px;
}
	.logo {
		height: 48px;
		margin: 0 auto 48px;
	}
	.nav {
		display: none;
	}
	.about {
		font-size: 20px;
		margin: 49px auto;
}
	.title {
		font-size: 28px;
		margin: 32px 0;
}
	.info {
		display: block;
	  	margin: 0;
}
	.btn-menu {
		display: block;
		position: absolute;
		top: 56px;
	}
	.section {
		max-width: 1023px;
	}
	.box {
		display: block;
		padding: 48px;
		margin: 0 auto 32px;
}

	.wrapper.menu-open {
		padding: 192px 48px 48px;
	}
	.wrapper.menu-open .header .contact-form {
		display: flex;
		border: 1px solid #fff;
		margin: 80px 52px 52px;
		background: #000;
	}
	.wrapper.menu-open .header .contact-form .textarea {
		background: #000;
		color: #fff;
	}
	.wrapper.menu-open .header .contact-form .btn-send {
		background: #fff;
		color: #000;
	}
	.wrapper.menu-open .header {
		background: #000;
		position: fixed; /*можно сделать absolute*/
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		padding-top: 48px;
	}
	.wrapper.menu-open .header .logo svg * {
		fill: #fff;
	}
	.wrapper.menu-open .header .nav {
		display: block;
		text-align: center;
		margin: 124px 0 0;
	}
	.wrapper.menu-open .header .nav a {
		color: #fff;
	}
	.wrapper.menu-open .header .btn-menu {
		display: none;
	}
	.wrapper.menu-open .header .btn-close {
		display: block;
		position: absolute;
		background: #000;
		top: 41px;
		left: 32px;
	}
}
/* mobile */

	@media only screen

	and (min-width: 0px)

	and (max-width: 540px) {
	.wrapper {
		padding: 0 20px;
	}
	.logo {
		display: none;
	}
	.header {
		padding: 0;
	}
	.slider {
		margin: 0 -20px;
	}
/*	.slider {
		max-width: 1023px;
		margin: 0;
}*/
	/*.slick-slide img {
		width: 100%;
		margin: 0;	
	}*/

	.btn-menu {
		z-index: 1;
		top: 23px;
		background: transparent;
		/*box-shadow: -5px -5px 5px #ccc;*/
	}
	.btn-menu svg * {
		fill: #fff;
		box-shadow: red;
	}
	.slick-dots {
	margin-top: 24px;
	}
	.slick-dots button {
		width: 8px;
	 	height: 8px;
	  	margin: 0 4px;
	}
	.text {
		display: flex;
		flex-wrap: wrap;
	}
	.contact-form {
		display: block;
		position: relative;
		text-align: center;
		height: 230px;
		padding: 20px;
	}
	.textarea {
		text-align: center;
		padding: 0;
	}
	.btn-send {
		position: absolute;
		left: 0;
		top: 230px;
		width: 100%;
		margin: 20px 0;
		/*outline: 1px solid #fff;*/
    	/*outline-style: auto;*/
	}

	.section {
		margin: 0;
	}
	.about {
		margin: 24px 0 0;
		font-size: 16px;
	}
	.title {
		margin: 23px 0;
		font-size: 20px;
	}
	.box {
		margin: 24px 0;
		font-size: 16px;
		padding: 20px;
	}
	.bigger {
		font-size: 24px;
	}
	.wrapper.menu-open .header .logo {
		display: block;
		position: absolute;
		top: 24px;
		right: 0;
	}
	.wrapper.menu-open .header .logo svg * {
		fill: #fff;

	}
	.wrapper.menu-open .header .btn-close {
		background: #000;
		top: 0;
		left: 0;
	}
	.wrapper.menu-open .header .contact-form {
		margin: 90px 20px 110px 20px;
	}
	.wrapper.menu-open .header .nav a {
		margin: 48px 20px;
		display: block;
		text-align: left;
	}
	.wrapper.menu-open .header .nav {

	}
}



